@charset "UTF-8";
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #435c5f8c;
}
main{
    background-color:#E4F2E7;
    width: 600px;
    height: 800px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 10px 15px #254d4d80;

}
h1{
    text-align: center;
    color:#387373;
    text-shadow: 5px 5px 3px  #8aeded60;
}
h2{
    text-align: justify;
    color:  #387373;
}
p{
    text-align: justify;
}
