@charset "UTF-8";
body{
    background-color: rgba(0, 0, 0, 0.747);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffff;
}
#inter{
    color:red;
    text-align: center;
    
}
h2{
    color: yellow;
}
p{
    text-align: justify;
    font-size: 17px;
    
}